<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.isebenzi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ProviderDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SalectModuleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SeekerDashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2.NoActionBar" />
        <activity
            android:name=".activities.SeekerPersonalInfomationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2.NoActionBar" />
        <activity
            android:name=".activities.SeekerSearchResultsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2.NoActionBar" />
        <activity
            android:name=".activities.SeekerCandidatesDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2.NoActionBar" />
        <activity
            android:name=".activities.SeekerCandidatesArrivedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2.NoActionBar" />
        <activity
            android:name=".activities.SeekerTransferCashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2.NoActionBar" />
        <activity
            android:name=".activities.SeekerJobCompleteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2.NoActionBar" />

        <activity
            android:name=".activities.SeekerSearchProviderDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2.NoActionBar" />

        <activity
            android:name=".activities.ProLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SeekerLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SeekerRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ProRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RegisterUploadPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RegisterAvailibilityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AssessmentSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DomesticPageOneAssessmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GardenerPageOneAssessmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.WaiterPageOneAssessmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DomesticPageTwoAssessmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DomesticPageThreeAssessmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GardenerPageTwoAssessmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GardenerPageThreeAssessmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.WaiterPageTwoAssessmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.WaiterPageThreeAssessmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ScoreAssessmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ProPersonalInfomationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ProMyReviewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ProBankingDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bc8e4b46e83972b5b92956baad307c1a1c494f72" />
    </application>

</manifest>